.header-container{
    background-color: #656565;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.menu-items {
    display: flex;
    justify-content: space-between;
    width: 30%;
    align-items: center;
}

.menu-items div {
    padding: 0 2rem;
    color: white;
    font-size: 1.1vw;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
}

.menu-items div:hover{
    background-color: #02964a;
    border-radius: 25px;
    padding: 0.5rem 2rem;
}

.menu-items a {
    text-decoration: none;
    color: white;
}


.logo-img{
    height: 60px;
    cursor: pointer;
}



.mobile-view{
    display: none;
}

.cart-menu-option{
    position: relative;
}

.cart-items-count{
    background: #b75f5f;
    padding: 0.01rem 0.3rem;
    border-radius: 10px;
    position: absolute;
    top: 15px;
    font-size: medium;
}
.reward-badge{
    height: 20px;
    margin-right: 0.1rem;
}
.rewards-container{
    position: relative;
}
.rewards-items-count{
    background: #2da568;
    padding: 0.01rem 0.4rem;
    border-radius: 10px;
    position: absolute;
    top: -6px;
    font-size: medium;
    display: flex;
    align-items: center;
    /* right: -10px; */
    left: 102px;
}

.menu-option-container-hidden{
    height: 50vh;
    background-color: #656565;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: absolute;
    z-index: 9999;
    top: -100%;
    transition: all 0.3s;
    display: none;
}
.menu-option-container{
    height: 50vh;
    background-color: #656565;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: absolute;
    z-index: 9999;
    right: 0%;
    transition: all 0.3s;
    display: none;
}
.menu-option-container div{
    padding: 0 2rem;
    color: white;
    font-size: 1.1vw;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
}
.option-one{
    color: white;
    font-weight: 700;
}

.user-profile-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .user-profile-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    right: 10px;
    top: 45px;
    border-radius: 12px;
    color: #070239;
    margin: 0;
    padding: 1rem 0;
  }

  .user-profile-dropdown-content p {
    margin: 0;
    padding: 1rem 2rem;
  }
  .user-profile-dropdown-content p:hover {
    background: #b5e6b5;
    color: #070239;
  }
  
  .user-profile-dropdown:hover .user-profile-dropdown-content {
    display: block;
  }

  
.rewards-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .rewards-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    right: 10px;
    top: 45px;
    border-radius: 12px;
    color: #070239;
    margin: 0;
    padding: 1rem 0;
    width: max-content;
  }

  .rewards-dropdown-content p {
    margin: 0;
    padding: 1rem 2rem;
  }
  .user-profile-dropdown-content p:hover {
    background: #b5e6b5;
    color: #070239;
  }
  
  .rewards-dropdown:hover .rewards-dropdown-content {
    display: block;
  }

  .total-reward-text{
    font-size: 1.5vw;
    display: flex;
  }

  .header-user-img{
    height: 25px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }




@media (max-width: 1025px) {
    .header-container{
        position: relative;
    }

    .menu-items div {
        padding: 0 1.5rem;
    }
    
    .menu-items div:hover{
        padding: 0.5rem 1.5rem;
    }

}
@media (max-width: 990px) {
    .menu-option-container-hidden{
        display: flex;
    }
    .menu-option-container{
        display: flex;
    }

    .cart-items-count{
        background: #2da568;
        padding: 0.01rem 0.3rem;
        border-radius: 10px;
        position: absolute;
        top: -12px;
        font-size: medium;
    }
}


@media (max-width: 768px) {
    .mobile-view{
        align-items: center;
        display: flex;
    }
.menu-img{
    height: 35px;
}
.logo-img{
    margin-left: 1rem;
}

.menu-img{
    margin-right: 1rem;
}

.menu-items div {
    padding: 0 1rem;
}

.menu-items div:hover{
    padding: 0.5rem 1rem;
}

.menu-option-container-hidden{
    display: flex;
}
.menu-option-container{
    display: flex;
}
.menu-option-container div{
    font-size: 1.2vw;
}

}


@media (max-width: 600px) {
    .web-view{
        display: none;
    }

    .mobile-view{
        align-items: center;
        display: flex;
    }

    .menu-img{
        height: 35px;
    }

    .logo-img{
        margin-left: 1rem;
    }

    .menu-img{
        margin-right: 1rem;
    }


    .menu-option-container-hidden{
        display: flex;
    }
    .menu-option-container{
        display: flex;
    }
    .menu-option-container div{
        font-size: 1.5vw;
    }
}

